
h1{background-color: rgb(75, 70, 72);
    color: burlywood;
    text-align: center;
    font-size: 200px;
}
#v{
    background-color: rgb(220, 10, 10);
}
#v1{
    background-color: rgb(6, 196, 196);}
#v2{
    background-color: rgb(1, 161, 3);
} 
#v4{
    width: 100%;
   background-color: rgb(58, 116, 116);
margin-top:     0%;
margin-left:0%;
   
}  
}
